<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nicolasta.sleeptime">


    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="com.google.android.glass.permission.INTERNET"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <activity
            android:name=".SleepNowActivity"
            android:immersive="true"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activitySleepNow"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nicolasta.sleeptime.MainActivity" />
        </activity>

        <activity
            android:name=".WhenToSleepActivity"
            android:immersive="true"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activityWhenToSleep"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nicolasta.sleeptime.MainActivity" />
        </activity>

        <activity
            android:name=".MinuteActivity"
            android:immersive="true"
            android:icon="@drawable/ic_glass_logo"
            android:parentActivityName=".WhenToSleepActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nicolasta.sleeptime.WhenToSleepActivity" />
        </activity>


        <activity
            android:name=".AmOrPmActivity"
            android:immersive="true"
            android:icon="@drawable/ic_glass_logo"
            android:parentActivityName=".MinuteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nicolasta.sleeptime.MinuteActivity" />
        </activity>



        <activity
            android:name=".WhenToSleepResultActivity"
            android:immersive="true"
            android:icon="@drawable/ic_glass_logo"
            android:parentActivityName=".AmOrPmActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nicolasta.sleeptime.AmOrPmActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>